<!-- _includes/footer.html -->

<footer class="footer">
	<div class="container">
  
	  <div class="footer-top section">
  
		<div class="footer-brand">
  
		  <a href="#" class="logo">
			<img src="{{ site.logo }}" width="129" height="40" alt="{{ site.title }} logo">
		  </a>
  
		  <p class="footer-text">{{ site.description }}</p>
  
		</div>
  
		{% for menu in site.data.footer.footer_menu %}
		<ul class="footer-list">
  
		  <li>
			<p class="h5">{{ menu.title }}</p>
		  </li>
  
		  {% for item in menu.items %}
		  <li class="footer-list-item">
			{% if item.icon %}
			<ion-icon name="{{ item.icon }}"></ion-icon>
			{% endif %}
			<a href="{{ item.link }}" class="footer-link hover:underline">{{ item.name }}</a>
		  </li>
		  {% endfor %}
  
		</ul>
		{% endfor %}
  
	  </div>
  
	  <div class="section footer-bottom">
  
		<p class="copyright">
		  &copy; {{ site.title }} {{ "now" | date: "%Y" }}. Published by <a href="#" class="copyright-link hover:underline">codewithsadee</a>.
		</p>
  
	  </div>
  
	</div>
  </footer>
  