/* Background */ .highlight { color: #f8f8f2; background-color: var(--color-carbon); padding: 0; margin: 0; }
/* Other */ .highlight .x {  }
/* Error */ .highlight .err { color: #960050; background-color: #1e0010 }
/* LineTableTD */ .highlight .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .highlight .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .highlight .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .highlight .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .highlight .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .highlight .k { color: #66d9ef }
/* KeywordConstant */ .highlight .kc { color: #66d9ef }
/* KeywordDeclaration */ .highlight .kd { color: #66d9ef }
/* KeywordNamespace */ .highlight .kn { color: #f92672 }
/* KeywordPseudo */ .highlight .kp { color: #66d9ef }
/* KeywordReserved */ .highlight .kr { color: #66d9ef }
/* KeywordType */ .highlight .kt { color: #66d9ef }
/* Name */ .highlight .n {  }
/* NameAttribute */ .highlight .na { color: #a6e22e }
/* NameBuiltin */ .highlight .nb {  }
/* NameBuiltinPseudo */ .highlight .bp {  }
/* NameClass */ .highlight .nc { color: #a6e22e }
/* NameConstant */ .highlight .no { color: #66d9ef }
/* NameDecorator */ .highlight .nd { color: #a6e22e }
/* NameEntity */ .highlight .ni {  }
/* NameException */ .highlight .ne { color: #a6e22e }
/* NameFunction */ .highlight .nf { color: #a6e22e }
/* NameFunctionMagic */ .highlight .fm {  }
/* NameLabel */ .highlight .nl {  }
/* NameNamespace */ .highlight .nn {  }
/* NameOther */ .highlight .nx { color: #a6e22e }
/* NameProperty */ .highlight .py {  }
/* NameTag */ .highlight .nt { color: #f92672 }
/* NameVariable */ .highlight .nv {  }
/* NameVariableClass */ .highlight .vc {  }
/* NameVariableGlobal */ .highlight .vg {  }
/* NameVariableInstance */ .highlight .vi {  }
/* NameVariableMagic */ .highlight .vm {  }
/* Literal */ .highlight .l { color: #ae81ff }
/* LiteralDate */ .highlight .ld { color: #e6db74 }
/* LiteralString */ .highlight .s { color: #e6db74 }
/* LiteralStringAffix */ .highlight .sa { color: #e6db74 }
/* LiteralStringBacktick */ .highlight .sb { color: #e6db74 }
/* LiteralStringChar */ .highlight .sc { color: #e6db74 }
/* LiteralStringDelimiter */ .highlight .dl { color: #e6db74 }
/* LiteralStringDoc */ .highlight .sd { color: #e6db74 }
/* LiteralStringDouble */ .highlight .s2 { color: #e6db74 }
/* LiteralStringEscape */ .highlight .se { color: #ae81ff }
/* LiteralStringHeredoc */ .highlight .sh { color: #e6db74 }
/* LiteralStringInterpol */ .highlight .si { color: #e6db74 }
/* LiteralStringOther */ .highlight .sx { color: #e6db74 }
/* LiteralStringRegex */ .highlight .sr { color: #e6db74 }
/* LiteralStringSingle */ .highlight .s1 { color: #e6db74 }
/* LiteralStringSymbol */ .highlight .ss { color: #e6db74 }
/* LiteralNumber */ .highlight .m { color: #ae81ff }
/* LiteralNumberBin */ .highlight .mb { color: #ae81ff }
/* LiteralNumberFloat */ .highlight .mf { color: #ae81ff }
/* LiteralNumberHex */ .highlight .mh { color: #ae81ff }
/* LiteralNumberInteger */ .highlight .mi { color: #ae81ff }
/* LiteralNumberIntegerLong */ .highlight .il { color: #ae81ff }
/* LiteralNumberOct */ .highlight .mo { color: #ae81ff }
/* Operator */ .highlight .o { color: #f92672 }
/* OperatorWord */ .highlight .ow { color: #f92672 }
/* Punctuation */ .highlight .p {  }
/* Comment */ .highlight .c { color: #75715e }
/* CommentHashbang */ .highlight .ch { color: #75715e }
/* CommentMultiline */ .highlight .cm { color: #75715e }
/* CommentSingle */ .highlight .c1 { color: #75715e }
/* CommentSpecial */ .highlight .cs { color: #75715e }
/* CommentPreproc */ .highlight .cp { color: #75715e }
/* CommentPreprocFile */ .highlight .cpf { color: #75715e }
/* Generic */ .highlight .g {  }
/* GenericDeleted */ .highlight .gd { color: #f92672 }
/* GenericEmph */ .highlight .ge { font-style: italic }
/* GenericError */ .highlight .gr {  }
/* GenericHeading */ .highlight .gh {  }
/* GenericInserted */ .highlight .gi { color: #a6e22e }
/* GenericOutput */ .highlight .go {  }
/* GenericPrompt */ .highlight .gp {  }
/* GenericStrong */ .highlight .gs { font-weight: bold }
/* GenericSubheading */ .highlight .gu { color: #75715e }
/* GenericTraceback */ .highlight .gt {  }
/* GenericUnderline */ .highlight .gl {  }
/* TextWhitespace */ .highlight .w {  }
