<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head-meta.html %}

		<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Material+Icons" rel="stylesheet" type="text/css">
		<link href="https://fonts.cloudcannon.com/css/TT-Norms-Pro_500_800.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		{% include nav.html %}
		<main>
			<div class="container">
				{{ content }}
			</div>
		</main>
		{% include footer.html %}
	</body>
</html>